header {
  background-color: #ffffff;

  margin-bottom: 10px;

  & .header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .header-logo {
  }

  & .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    & .nav-link {
      font-size: 16px;
      color: $dark;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $black;
      }
      &-active {
        color: $black;
      }
    }
  }

  & .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      padding: 15px 24px;

      background-color: transparent;
      cursor: pointer;

      border: 1px solid #999999;
      border-radius: 100px;

      font-size: 14px;
      font-weight: 400;
      color: $dark;

      transition: 0.2s ease-in-out;

      &:hover {
        border: 1px solid $black;
        color: $black;
      }
    }
  }
}
