header {
  background-color: #ffffff;

  margin-bottom: 10px;

  box-shadow: 0px 0px 30px 0px #1214170d;

  & .header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include lg {
      padding: 16px 32px;
    }

    @include md {
      padding: 14px 16px;
    }
  }

  .header-logo {
    z-index: 1111;
    position: relative;
  }

  & .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    @include lg {
      display: none;
    }

    & .nav-link {
      cursor: pointer;
      position: relative;

      font-size: 16px;
      color: $dark;
      transition: color 0.2s ease-in-out;
      text-underline-offset: 6px;
      &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $dark;

        transition: width 0.2s ease-in-out;
      }
      &:hover {
        color: $black;

        &:after {
          width: 100%;
        }
      }
      &-active {
        color: $black;
        text-decoration: underline;
      }
    }

    .link-dropdown {
      position: relative;

      font-size: 16px;
      color: $dark;

      span {
        cursor: pointer;
      }
    }

    .wrapper-dropdown {
      flex-direction: column;
      padding: 20px;
      gap: 20px;
      background-color: #fff;
      position: absolute;
      left: -20px;
      min-width: 350px;
      width: 100%;
      -webkit-box-shadow: 0px 44px 75px -28px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 44px 75px -28px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 44px 75px -28px rgba(34, 60, 80, 0.2);
      border-radius: 0 0 20px 20px;
      z-index: 111;
      display: none;

      &.active {
        display: flex;
      }

      .nav-link {
        width: fit-content;
        cursor: pointer;
      }
    }
  }

  & .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    & button {
      @include lg {
        display: none;
      }
    }
  }
}

.mob-nav {
  display: none;
  @include lg {
    overflow-y: scroll;

    display: block;
    width: 100%;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    inset: 0;
    z-index: 9999;
    transform: translateX(-100%);
    margin-top: 90px;
    padding: 30px 50px 130px 50px;

    transition: 0.8s;

    @include lg {
      margin-top: 78px;
    }

    @include md {
      margin-top: 74px;
    }

    background-color: #fff;
    border-top: 1px solid #f3f3f3;
    -webkit-box-shadow: -13px 11px 8px 1px rgba(34, 60, 80, 0.12);
    -moz-box-shadow: -13px 11px 8px 1px rgba(34, 60, 80, 0.12);
    box-shadow: -13px 11px 8px 1px rgba(34, 60, 80, 0.12);

    .links-footer {
      padding-bottom: 30px;
      height: fit-content;
    }

    &.active {
      transform: translateX(0);
    }
  }
}

.nav-wrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 300px 200px;
  gap: 12px;

  margin-bottom: 16px;

  @include responsive(480) {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
  }
}
