header {
  background-color: #ffffff;

  margin-bottom: 10px;

  & .header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .header-logo {
  }

  & .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    @include lg {
      display: none;
    }

    & .nav-link {
      font-size: 16px;
      color: $dark;
      transition: color 0.2s ease-in-out;
      text-underline-offset: 6px;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
      &-active {
        color: $black;
        text-decoration: underline;
      }
    }
  }

  & .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      padding: 15px 24px;

      background-color: transparent;
      cursor: pointer;

      border: 1px solid #999999;
      border-radius: 100px;

      font-size: 14px;
      font-weight: 400;
      color: $dark;

      transition: all 0.2s ease-in-out;

      @include lg {
        display: none;
      }

      &:hover {
        border: 1px solid $black;
        color: $black;
      }
      & img {
        transition: transform 0.2s ease-in-out;
      }

      &:hover img {
        position: relative;
        transform: scale(1.1);
      }
    }
  }
}
