.player-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  &:hover {
    position: relative;
    transform: scale(1.1);
  }

  & circle {
    transition: opacity 0.2s ease-in-out;
  }

  &:hover circle {
    opacity: 0.8;
  }
}
