.dark {
  color: $dark;
}
.black {
  color: $black;
}
.gray {
  color: $gray;
}
.white {
  color: $white;
}
.light {
  color: $light;
}
.xs {
  font-size: 12px;
  line-height: 140%;
} 
.s {
  font-size: 14px;
  line-height: 130%;
}
.m {
  font-size: 16px;
  line-height: 130%;
}
.sm {
  font-size: 20px;
  line-height: 120%
}
.l {
  font-size: 24px;
  line-height: 120%;
}
.xl {
  font-size: 32px;
  line-height: 130%;
}
.xxl {
  font-size: 90px;
  line-height: 100%;
}
.xxxl {
  font-size: 120px;
  line-height: 100%;
}

.thin {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.semi-bold {
  font-weight: 500;
}
.bold {
  font-weight: 600;
}
