@font-face {
  font-family: 'Onest';
  src: local('Onest'),
  url('./assets/fonts/TTF/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Onest;
}
a {
  text-decoration: none;
}