@font-face {
  font-family: 'Onest';
  src: local('Onest'),
    url('./assets/fonts/TTF/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'),
    url('./assets/fonts/TTF/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Onest';
  background-color: #fafafa;
}
a {
  text-decoration: none;
}

textarea::placeholder {
  font-family: 'Onest';
  color: #B6B6B6;
}
textarea {
  font-family: 'Onest';
  color: #B6B6B6;
}
