.section {
  padding-top: 40px;
  border-top: 1px solid #dcdcdc;

  margin-bottom: 140px;

  @include lg {
    margin-bottom: 90px;
  }

  @include md {
    margin-bottom: 70px;
  }

  & .circle-button {
    align-self: flex-start;
    margin: 32px 0 70px;

    @include lg {
      margin: 24px 0 40px;
    }

    @include md {
      margin: 24px 0 36px;
    }
  }

  .wrapper-slider {
    display: flex;
    flex-wrap: wrap;
    max-width: 820px;
    justify-content: space-between;
    // gap: 20px;
    height: 380px;
    overflow: hidden;
    margin-left: auto;
    position: relative;
  }

  .card-eco {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    width: 400px;
    height: 380px;
    background-color: #fff;
    transition: .3s;

    &:nth-child(1) {
      z-index: 1;
      position: relative;
    }
    &:nth-child(2) {
      z-index: 2;
      position: relative;
    }
    &:nth-child(3) {
      z-index: 3;
      position: relative;
    }
    &:nth-child(4) {
      z-index: 4;
      position: relative;
    }
    &:nth-child(5) {
      z-index: 5;
      position: relative;
    }
    &:nth-child(6) {
      z-index: 6;
      position: relative;
    }

    @include responsive (600) {
      width: 374px;
      height: 150px;
    }

    .top-index {
      font-size: 14px;
      color: #999999;
    }
  }
  // overflow: hidden;
}
