.section {
  margin-bottom: 140px;

  @include lg {
    margin-bottom: 90px;
  }

  @include md {
    margin-bottom: 70px;
  }

  & .circle-button {
    align-self: flex-start;
    margin: 32px 0 14px;

    @include lg {
      margin: 24px 0 0px;
    }

    @include md {
      margin: 24px 0 16px;
    }
  }

  .slider-box {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3.7fr;

    @include lg {
      grid-template-columns: 1fr;
      place-items: center;
    }
  }

  .empty {
    display: block;
    @include lg {
      display: none;
    }
  }

  .wrapper-slider {
    width: 100%;
    max-width: 820px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;

    scroll-snap-type: y mandatory;

    // &::before {
    //   content: '';
    //   background-color: #fafafa;;
    //   position: absolute;
    //   bottom: 0;
    //   height: 380px;
    //   width: 100%;
    //   z-index: 111;
    // }

    @include lg {
      gap: 14px;
    }

    @include md {
      grid-template-columns: 1fr;
      place-items: center;
      gap: 12px;
    }
  }

  .card-eco {
    scroll-snap-align: start;

    max-width: 423px;
    height: 380px;
    padding: 37px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 20px;
    @include lg {
      border-radius: 16px;
    }

    @include md {
      border-radius: 14px;
    }
    border: 1px solid #dcdcdc;
    background-color: #fafafa;

    transition: 0.3s;
    position: sticky;
    top: 0;

    &:nth-child(1) {
      z-index: 1;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    &:nth-child(3) {
      z-index: 3;
    }
    &:nth-child(4) {
      z-index: 4;
    }
    &:nth-child(5) {
      z-index: 5;
    }
    &:nth-child(6) {
      z-index: 6;
    }

    @include responsive(744) {
      max-width: 333px;
      height: 190px;
    }

    @include responsive(600) {
      max-width: 374px;
      height: 150px;
    }

    .top-index {
      font-size: 14px;
      color: #999999;
    }
  }
  // overflow: hidden;
}
