.wrapper {
  margin-bottom: 140px;
  .wrapper-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
  }
}

.section {
  padding-top: 40px;
  border-top: 1px solid #dcdcdc;

  margin-bottom: 60px;

  & .circle-button {
    align-self: flex-start;
    margin: 32px 0 0;
  }
}
