.card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 20px;
  background-size: cover;
}
.description {
  display: flex;
  align-items: center;
}
.descriptionText {
  flex: 3;
}
.descriptionLink {
  flex: 2;
  text-align: right;
}
