.breakpoints-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 0;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 70px;
  }

  @include md {
    padding: 0 37px;

    grid-template-columns: 1fr;
    gap: 52px;
  }
}

.breakpoint {
  display: flex;
  flex-direction: column;

  position: relative;

  @include md {
    &::after {
      // mobile circle
      content: "";
      position: absolute;
      left: -24px;
      top: 10px;
      width: 13px;
      height: 13px;

      background-color: #dcdcdc;
      border-radius: 50%;

      transform: translateX(-50%);
    }
    &:not(:last-of-type)::before {
      // mobile line
      content: "";
      position: absolute;
      left: -24px;
      top: 10px;

      width: 1px;
      height: calc(100% + 52px);
      background-color: #dcdcdc;
    }
  }
}

.breakpoint__title {
  position: relative;
  padding: 0 24px 24px;
  margin-bottom: 36px;

  border-bottom: 1px solid #dcdcdc;

  @include lg {
    padding: 0 27px 24px;
    margin-bottom: 23px;
  }

  @include md {
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    padding-bottom: 12px;
  }

  &::before {
    // desktop/tablet circle
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 15px;
    height: 15px;

    background-color: #dcdcdc;
    border-radius: 50%;
    transform: translate(0, 50%);

    @include md {
      display: none;
    }
  }
}

.title-index {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 14px;
  line-height: 120%;

  color: $gray;

  @include md {
    font-size: 12px;
  }
}

.title-heading {
  font-size: 20px;
  line-height: 120%;
  font-weight: normal;

  color: $black;

  @include lg {
    font-size: 18px;
  }

  @include md {
    font-size: 16px;
  }
}
.breakpoint__info {
  max-width: 240px;

  @include md {
    max-width: 100%;
  }
}

.info-text {
  font-size: 14px;
  line-height: 120%;
  color: $gray;
}
