.text-container {
  height: 100%;
  min-height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  & .success,
  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__heading {
    margin-bottom: 16px;
    font-weight: 400;
  }
}
