.flip-card {
  background-color: transparent;
  width: 100%;
  height: 540px;
  perspective: 5000px;

  @include responsive(744) {
    height: 406px;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip-card-front {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;

  display: flex;
  align-items: flex-end;
}

.card-bottom-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.back {
    align-items: flex-end;
  }
  &.front {
    align-items: center;
  }
}

.flip-card-back {
  background-color: $dark;
  color: $white;
  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-wrapper {
  height: 100%;
  flex-grow: 1;
  & .name {
    margin-bottom: 14px;
  }
  & .position {
    margin-bottom: 46px;
  }
  & .title {
    font-size: 14px;
    color: #dcdcdc;
    margin-bottom: 8px;
  }
  & .text {
  }
}

.experts {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-text {
    font-size: 14px;
    line-height: 120%;
    color: $white;
  }

  &-container {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
  }

  &-img {
    border-radius: 50%;
  }
}
