.section-wrapper {
  display: grid;
  grid-template-columns: 2fr 3.7fr;

  margin-bottom: 60px;

  @include lg {
    margin-bottom: 40px;
  }

  & .left {
  }

  & .right {
    display: flex;
    flex-direction: column;
  }
}
