.section-wrapper {
  display: grid;
  grid-template-columns: 2fr 3.7fr;

  padding-top: 40px;
  border-top: 1px solid #dcdcdc;
  @include lg {
    padding-top: 32px;
  }
  @include md {
    padding-top: 18px;
  }

  margin-bottom: 60px;

  @include lg {
    margin-bottom: 40px;
  }
  @include md {
    margin-bottom: 20px;
  }

  @include md {
    grid-template-columns: 1fr;
  }

  & .left {
    @include md {
      margin-bottom: 28px;
    }
  }

  & .right {
    display: flex;
    flex-direction: column;
  }
}
