.wrapper-toggler {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;

  label {
    color: #c2c2c2;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    &.active {
      color: $gray;
    }
    input {
      visibility: hidden;
      width: 0;
    }
  }

  .symbol {
    font-size: 20px;
  }

  .btn {
    cursor: pointer;

    &.active {
      color: #c2c2c2;
    }
  }
}
