$dark: #333333;
$black: #111111;
$gray: #666666;
$white: #fafafa;
$light: #cccccc;

$screen-sm: 360px;

// Small tablets (portrait view)
$screen-md: 640px;

// Tablets and small desktops
$screen-lg: 1180px;
