footer {
  font-family: Onest;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;

  .footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .wrapper-left {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }

    .wrapper-btn {
      width: 36%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  .footer-bottom {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}