footer {
  &.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 30px;

    @include lg {
      padding: 0 32px;
    }

    @include md {
      padding: 0 16px;
    }
  }

  .footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include md {
      flex-direction: column;
      gap: 44px;
    }

    .wrapper-left {
      display: flex;
      gap: 64px;
      flex-wrap: wrap;

      @include responsive(1180) {
        width: 60%;
        display: grid;

        grid-template-columns: 1fr 1fr;
        // width: auto;
        // width: 90%;
        column-gap: 80px;
        row-gap: 64px;
        .links-footer:nth-child(2) {
          order: 3;
        }
        .links-footer:nth-child(3) {
          order: 1;
        }
      }

      @include md {
        width: 100%;
        gap: 64px;
      }

      @include responsive(420) {
        justify-items: end;
      }
    }

    .wrapper-btn {
      width: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;

      gap: 20px;

      @include responsive(1300) {
        grid-template-columns: 1fr;
      }

      @include md {
        width: 100%;
      }
    }
  }

  .footer-bottom {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
