.section {
  padding-top: 40px;
  border-top: 1px solid #dcdcdc;

  margin-bottom: 140px;
}

.cards-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: 56.25%;
      content: '';
    }

    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }

  @include lg {
    aspect-ratio: 3/5;
    @supports not (aspect-ratio: 3 / 5) {
      &::before {
        float: left;
        padding-top: calc((5 / 3) * 100%);
        content: '';
      }

      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
}

.cards-container {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'news . events events'
    '. contacts events events'
    'chatBot . community digest'
    'telegram telegram . digest';

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @include lg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-gap: 14px;

    grid-template-areas:
      'news events events'
      '. events events'
      'digest contacts .'
      'digest . community'
      'chatBot telegram telegram';
  }
}

.news {
  grid-area: news;
}
.contacts {
  grid-area: contacts;
}
.events {
  grid-area: events;
}
.chatBot {
  grid-area: chatBot;
}
.community {
  grid-area: community;
}
.digest {
  grid-area: digest;
}
.telegram {
  grid-area: telegram;
}
