.challenges-card {
  padding: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background: #fff;
  box-shadow: 0px 0px 30px rgba(18.31, 20.03, 23.38, 0.08);
  border-radius: 20px;

  &__top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
}

.card-title {
  margin-bottom: 16px;
}

.card-text {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;

  margin-bottom: 24px;
}

.card-label {
  padding: 6px 16px;
  margin-bottom: 74px;

  color: $gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;

  background: #d9d9d94d;
  border-radius: 6px;
}

.card-link {
  cursor: pointer;
  color: $gray;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  line-height: 20.8px;
  word-wrap: break-word;
}
