.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-size: 14px;
  font-weight: 400;
  color: $black;

  cursor: pointer;

  & .button-container {
    font-size: inherit;
    border: none;
    outline: none;
    background-color: transparent;
  }

  & .arrow-container {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #999999;
    border-radius: 50%;

    transition: transform 0.2s ease-in-out;

    & > svg {
      transition: transform 0.2s ease-in-out;
    }
  }

  &:hover {
    & .arrow-container {
      position: relative;
      transform: scale(1.05);
      & > svg {
        position: relative;
        transform: scale(0.855);
      }
    }
  }
}
